@keyframes square-fall {
  0% {
    top: -20px;
  }
  100% {
    top: 460px;
  }
}
.bg-fill {
  background-size: 100% 100%;
}

.modal-congrats {
  .ant-modal-content {
    @apply bg-transparent shadow-none;
  }
}
.modal-congrats-root {
  .ant-modal-mask {
    background-color: rgba(0, 0, 0, 0.75);
  }
}
